{% load staticfiles %}

<!DOCTYPE html>
<head>
	<!-- templatemo 418 form pack -->
	<!-- 
	Form Pack
	http://www.templatemo.com/preview/templatemo_418_form_pack 
	-->
	<title>Register | Byld </title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<link href = "{% static 'css/bootstrap.min.css' %}" 		rel = "stylesheet" type = "text/css">
	<link href = "{% static 'css/bootstrap-theme.min.css' %}" 	rel = "stylesheet" type = "text/css">
	<link href = "{% static 'css/templatemo_style.css' %}" 		rel = "stylesheet" type = "text/css">
	<link href = "{% static 'css/bootstrap-social.css' %}" 		rel = "stylesheet" type = "text/css">

	<script src='https://www.google.com/recaptcha/api.js'></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-68394396-1', 'auto');
		ga('send', 'pageview');
	</script>
	
</head>

<body class="templatemo-bg-image-1">
	<div class="container">
		<div class="col-md-12">	


			<form class="form-horizontal templatemo-login-form-2" role="form" action="/register/" method="POST">
				{% csrf_token %}

				{% if reg %}

				<div class = "row">
					<h1>Thanks for Signing up, return home to Log In</h1>
				</div>
				<div class = "row">
					<div class = 'col-md-3'></div>
					<div class = 'col-md-6'>
						<center><a href = "/" class = "btn btn-lg btn-warning">Return</a></center>
					</div>
				</div>

				{% else %}
				<div class="row">
					<div class="col-md-12">
						<h1>Sign Up</h1>
					</div>
				</div>
				<div class="row">
					<div class = "col-md-2"></div>
					<div class=" col-md-8">
						{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}
									<div class="alert alert-error">
										<strong>{{ field.label }} : {{ error|escape }}</strong>
									</div>
								{% endfor %}
							{% endfor %}

							{% for error in form.non_field_errors %}
								<div class="alert alert-error">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endif %}

						<div class="form-group">
						  <div class="col-md-12">				  	
							<label for="username" class="control-label">Team Name</label>
							<div class="templatemo-input-icon-container">
								<i class="fa fa-user"></i>
								{{ form.username }}
							</div>															
						  </div>			  
						</div>
						<div class="form-group">
						  <div class="col-md-12">
							<label for="password" class="control-label">Password</label>
							<div class="templatemo-input-icon-container">
								<i class="fa fa-lock"></i>
								{{ form.password }}
							</div>
						  </div>
						</div>
						<div class="form-group">
						  <div class="col-md-12">
							<label for="password" class="control-label">Email</label>
							<div class="templatemo-input-icon-container">
								<i class="fa fa-lock"></i>
								{{ form.email }}
							</div>
						  </div>
						</div>
						<div class = "form-group">
							<center>
								{{ form.captcha }}
							</center>
						</div>
						<div class="form-group">
						  <div class="col-md-12">
							<input type="submit" value="REGISTER" class="btn btn-warning">
						  </div>
						</div>
					</div>
   
				</div>	
			  	{% endif %}
			  </form>	

		</div>
	</div>
</body>
</html>